.bk.card-header-custom {
  align-items: center;
  background-color: #1f77b4;
  color: #ffffff;
  border-radius: 0.25rem;
  display: inline-flex;
  justify-content: start;
  width: 100%;
}

div.xr-wrap{
  overflow: auto;
  z-index: 200;
}

.sidenav .bk-root:nth-of-type(1) {
    z-index: 200
}
div.choices__list.choices__list--dropdown.is-active > div {
    background: var(--background-color);
}